<div class="ClassSectionGraphWrapper">
    <!--<div class="box box-primary">-->
        <!--<div class="box-header with-border">-->
            <!--<h3 class="box-title">No. of Sections in a Class</h3>-->
        <!--</div>-->
        <!--<div class="box-body">-->
            <!--<div class="row">-->
                <!--<div class="col-md-8">-->
                    <!--<bar-chart></bar-chart>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<p>Data points</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div>
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<form class="form" @submit.prevent="addExpenses">-->
                <!--<h4>Choose School</h4>-->
                <!--<div class="form-group">-->
                    <!--<label>Dzongkhag/Thromde</label>-->
                    <!--<input class="form-control" placeholder="choose dzongkhag" type="number" v-model="abc" required>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>School</label>-->
                    <!--<input class="form-control" placeholder="Choose school" type="number" v-model="xyz" required>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>Date</label>-->
                    <!--<input class="form-control" placeholder="Date" type="date" v-model="pqr" required>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<button class="btn btn-primary">Retrieve Chart</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
    <!--<class-section-bar-chart></class-section-bar-chart>-->
    </div>
</div>
